<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Or Litany</title>

  <link rel="stylesheet" href="./OL_files/bootstrap.min.css">
  <link href="./OL_files/css" rel="stylesheet" type="text/css">
  <link href="./OL_files/style.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" async="" src="./OL_files/ga.js.download"></script>
  <script type="text/javascript" src="./OL_files/hidebib.js.download"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-133713714-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-133713714-1');
</script>

</head>

<body>


<!-- Start main content -->

  <div class="container">
    <table width="900" border="0" align="center" cellpadding="20">
      </table><table width="90%" align="center" border="0" cellpadding="10">
        <tbody><tr>
          <td width="70%" valign="top">
            <p align="center">&nbsp;</p>

            <p align="center"><font size="6px">Or Litany</font><br>
            orlitany at gmail dot com</p>

            <p>I am a postdoctoral researcher at <a href="https://profiles.stanford.edu/or-litany">Stanford University</a> working under <a href=https://geometry.stanford.edu/member/guibas/>Prof. Leonidas Guibas</a>. Before that I was a postdoc at <a href="https://research.facebook.com/ai/">FAIR</a> working under <a href=https://people.eecs.berkeley.edu/~malik/>Prof. Jitendra Malik</a>. Previously, I was a postdoc at the Technion and a research intern at Microsoft, Intel and <a href=https://ai.google/research/people/105901>Google</a>. I received my PhD from Tel-Aviv University, where I was advised by Prof. <a href=http://www.cs.technion.ac.il/~bron/>Alex Bronstein</a>. I received my B.Sc. in Physics and Mathematics from the Hebrew University under the auspices of <a href=https://en.wikipedia.org/wiki/Talpiot_program>“Talpiot”</a>. <br><br>
			My research interests include: 3D deep learning, computational shape analysis and representation learning. </p>





            <p> <a href="./OL_files/orlitany_cv.pdf"><img src="./OL_files/cv.png" height="16"></a> /
                <a href="https://www.linkedin.com/in/orlitany/main.html"><img src="./OL_files/linkedin.png" height="16"></a> /
                <a href="https://twitter.com/orlitany"><img src="./OL_files/twitterlogo.png" height="16"></a> /
                <a href="https://scholar.google.co.il/citations?user=Ihs8dwsAAAAJ&hl=en" target="_blank"><img src="./OL_files/google_scholar.png" height="16"></a> /
                <a href="https://github.com/orlitany/" target="_blank"><img src="./OL_files/github_alt.png" height="16"></a> /
                <a href="https://profiles.stanford.edu/or-litany" target="_blank"><img src="./OL_files/stanford_logo.png" height="16"></a>
            </p>
          </td>
          <td width="30%"><div class="instructorphoto"><img src="./OL_files/orlitany_ieee_profilepic.jpg" id="orlitany"></div></td>
        </tr>
      </tbody></table>

  </div>
  <br>


  <div class="container">
    <h2>News</h2><div class="news">
        <ul>
	<li><span> Oct 29: <a href=https://arxiv.org/pdf/1904.09664.pdf>VoteNet</a> Was <strong>nominated to best paper</strong> at ICCV 2019.</a></span></li><p></p>
        <li><span> July 22: Our paper <a href=https://arxiv.org/pdf/1904.09664.pdf>Deep Hough Voting for 3D Object Detection in Point Clouds</a> Was accepted as an <strong>oral presentation</strong> at ICCV 2019.</a></span></li><p></p>
        <li><span> July 12: Our paper <a href=https://arxiv.org/pdf/1806.00770.pdf>Dual-primal graph convolutional networks</a> Was accepted to <a href=https://gem-ecmlpkdd.github.io/>GEM workshop</a></span></li><p></p>
        <li><span> April 25: I was invited as a speaker at the <a href=https://dl4sci-school.lbl.gov/home>Deep Learning for Science Summer School</a> </span></li><p></p>
        <li><span> April 23: Our paper <a href=https://arxiv.org/pdf/1805.09622.pdf>SOSELETO: A Unified Approach to Transfer Learning and Training with Noisy Labels</a> just won <mark>Best paper award</mark> at ICLR workshop on <a href=https://lld-workshop.github.io/>Learning from Limited Labeled Data</a></span></li><p></p>
        <li><span> April 22: Check out our new paper on <a href=https://arxiv.org/pdf/1904.09664.pdf>Object detection in 3D point clouds</a> </span></li><p></p>
         <li><span> Our paper <a href=https://arxiv.org/pdf/1812.02415.pdf>"Self-supervised Learning of Dense Shape Correspondence"</a> was accepted as an <strong>oral presentation</strong> at CVPR 2019!
  		   </span></li><p></p>
         <li><span> We are organizing a <a href="https://sites.google.com/view/eccv2018fmapstutorial/home">tutorial</a> on "Functional Maps: A Flexible Representation for Learning and Computing Correspondence" at ECCV 2018 in Munich. See you there! <p></p>
         </span></li>
         <!-- <li><span> Our paper <a href="https://arxiv.org/pdf/1701.01687">"Class-Aware Fully-Convolutional Gaussian and Poisson Denoising"</a> has been accepted for publication at TIP.
		     </span></li> -->



        </ul>
      </div><table width="90%" border="0" align="center" cellpadding="20">
    </table>
  </div>
  <br>

<!-- Talks -->
  <div class="container">
    <h2>Invited talks</h2><div class="news">
        <ul>
	<li><span> VoteNet and ImVoteNet <br>
	  Stanford GCafe Seminar</a> <br>
	  <a href="https://drive.google.com/open?id=1pA2jaCd1Il0FCIVKzDAHpZVr_3Ukjfji">slides</a>
	  / <a href="https://drive.google.com/open?id=1gLdZ4z1KSM0L1ElEseZMvKdmxycE49Tx">video</a> </span></li><p></p>		
        <li><span> Geometric Deep Learning: Introduction <br>
          <a href="https://dl4sci-school.lbl.gov/home">Deep Learning for Science School</a> <br>
          <a href="https://drive.google.com/file/d/1EL98pDXvzXAnTB4ivL2hGm3zO21GWGjm/view?usp=sharing">slides</a>
          / <a href="https://www.youtube.com/watch?v=PHEcJsg9zYo&list=PL20S5EeApOSvfvEyhCPOUzU7zkBcR5-eL&index=21&t=0s">video</a> </span></li><p></p>
        <li><span> Deep Learning for “Exotic” Data Like 3D Meshes and Point-Clouds <br>
          <a href="https://www.meetup.com/San-Francisco-Machine-Learning-Meetup/events/257153311/">San Francisco Deep Learning Meetup</a> <br>
          <a href="https://drive.google.com/open?id=1XDV4fcLXcQP72JYNzRRX6zXbEZLwM8ay">slides</a> / <a href="https://youtu.be/fY_BzTmU9io">video</a> </span></li><p></p>
        <li><span> Deep Hough Voting for 3D object detection in point clouds <br>
          Xerox PARC, NYU, Cornell-Tech, ICCV <br>
          <a href="./OL_files/talks/deep_hough_voting.pdf">slides</a>
		/ <a href="https://youtu.be/2ntDYowHbZs?t=4585">video</a>
        <li><span> SOSELETO: A Unified Approach to Transfer Learning and Training with Noisy Labels <br>
          ICLR LLD workshop, New Orleans <br>
          <a href="./OL_files/SOSELETO_presentation.pdf">slides</a> / <a href="https://slideslive.com/38915746">talk</a>

        </ul>

      </div><table width="90%" border="0" align="center" cellpadding="20">
    </table>
  </div>
  <br>

  <!-- Workshops / Tutorials -->
    <div class="container">
      <h2>Workshops / Tutorials</h2><div class="news">
          <ul>
          <li><span> <a href="=https://geometry.cs.ucl.ac.uk/creativeai_eg19/">Deep Learning for Computer Graphics and Geometry Processing</a> <br>
            With: <a href=http://www0.cs.ucl.ac.uk/staff/n.mitra/>Niloy J. Mitra</a>,
            <a href=http://www0.cs.ucl.ac.uk/staff/I.Kokkinos/>Iasonas Kokkinos</a>,
            <a href=https://geometry.stanford.edu/member/guibas/>Leonidas Guibas</a>,
            <a href=https://www.imperial.ac.uk/people/m.bronstein>Michael Bronstein</a>,
            <a href=https://sites.google.com/site/erodola/>Emanuele Rodolà</a>,
            <a href=https://www.ics.usi.ch/index.php/people-detail-page/268-federico-monti>Federico Monti</a> <br>
            Tutorial at Eurographics 2019
          <li><span><a href=https://sites.google.com/view/eccv2018fmapstutorial/home>Functional Maps: A Flexible Representation for Learning and Computing Correspondence</a> <br>
            With: Maks Ovsjanikov, Emanuele Rodolà, Leonidas Guibas <br>
            Tutorial at ECCV 2018
          <li><span><a href=https://www.eusipco2017.org/workshops/#collapse3>Deep Learning and Geometry</a>
            With: Ron Kimmel, Emanuele Rodolà, Michael Bronstein, Alex Bronstein <br>
            Workshop at EUSIPCO 2017
          </ul>
        </div><table width="90%" border="0" align="center" cellpadding="20">
      </table>
    </div>
    <br>



  <div class="container">
    <h2> Publications </h2>
  <!-- Auto publications reader -->
  <div id="read_pub_record">
    <div v-for="pub in data.publications" class="publication">

      <table width="900" align="center" border="0" cellpadding="0">
          <tbody><tr>
            <td width="25%" valign="top">
              <img :src="pub.image" alt="game" width="150" height="120" style="border-style: none">
            </td>
            <td width="75%" valign="top">
              <p><a :href="pub.paper">
                <heading>{{ pub.name }}</heading></a><br>
                <span v-html="pub.authors"></span><br>
                <em>{{ pub.publication }}</em>
                <span v-if="pub.misc">
                  <br><span v-html="pub.misc"></span><br>
                </span>

              </p>
              <div class="paper" :id="pub.name">
                <a :href="pub.paper">paper</a> /
                <span v-if="pub.code">
                  <a :href="pub.code">code</a> /
                </span>
                <span v-if="pub.dataset">
                  <a :href="pub.dataset">dataset</a> /
                </span>
                <span v-if="pub.slides">
                  <a :href="pub.slides">slides</a> /
                </span>
                <span v-if="pub.poster">
                  <a :href="pub.poster">poster</a> /
                </span>
                <span v-if="pub.talk">
                  <a :href="pub.talk">talk</a> /
                </span>

                <a shape="rect" :href="'javascript:togglebib(\'' + pub.name + '\')'" class="togglebib">bibtex</a>

                <pre xml:space="preserve" style="display: none;">{{ pub.bibtex }}
                </pre>
              </div>
            </td>

          </tr></tbody></table>
          <hr>
    </div>


  </div>



  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.min.js">
  </script>

  <script src="./publications.js"></script>

  <script>
    new Vue({
      el: "#read_pub_record",
      data() {
        return {
          data: data,
        }
      }
    });
  </script>

  <!-- Publications.-->

  </div><br>



<script xml:space="preserve" language="JavaScript">
hideallbibs();
</script>




</body></html>
