<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GM4LVVKPRS"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-GM4LVVKPRS');
  </script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="Research scientist at NVIDIA, Assistant Professor at the Technion." />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@orlitany" />
  <meta name="twitter:creator" content="@orlitany" />
  <meta property="og:url" content="https://orlitany.github.io/" />
  <meta property="og:title" content="Or Litany" />
  <meta property="og:description" content="Research scientist at NVIDIA, Assistant Professor at the Technion." />
  <meta property="og:image" content="https://orlitany.github.io/OL_files/orlitany_ieee_profilepic.jpg" />
  <link rel="shortcut icon" href="./OL_files/orlitany-ai.png" />


  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Or Litany",
      "gender": "Male",
      "jobTitle": "Senior Research Scientist, Assistant Professor",
      "worksFor": [
      {
        "@type": "Organization",
        "name": "NVIDIA",
        "sameAs": "https://www.nvidia.com/en-us/"
      },
      {
        "@type": "EducationalOrganization",
        "name": "Technion",
        "sameAs": "https://www.cs.technion.ac.il/"
      }
      ],
      "alumniOf": [
        {
          "@type": "EducationalOrganization",
          "name": "Stanford University",
          "sameAs": [
            "https://ai.stanford.edu/",
            "https://www.stanford.edu/",
            "https://geometry.stanford.edu/index.html"
          ]
        },
        {
          "@type": "EducationalOrganization",
          "name": "Tel-Aviv University",
          "sameAs": "https://english.tau.ac.il/"
        },
        {
          "@type": "EducationalOrganization",
          "name": "Hebrew University of Jerusalem",
          "sameAs": "https://en.huji.ac.il/"
        }
      ],
      "description": "Senior Research Scientist at NVIDIA and Assistant Professor at Technion, specializing in 3D deep learning and computer vision.",
      "url": "https://orlitany.github.io",
      "image": "https://orlitany.github.io/OL_files/orlitany_ieee_profilepic.jpg",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "Sunnyvale",
        "addressRegion": "CA",
        "addressCountry": "US"
      },
      "sameAs": [
        "https://www.linkedin.com/in/orlitany/",
        "https://www.facebook.com/OrLitovsky",
        "https://twitter.com/orlitany",
        "https://scholar.google.co.il/citations?user=Ihs8dwsAAAAJ&hl=en",
        "https://github.com/orlitany/",
        "https://dblp.org/pid/119/1476.html",
        "https://www.researchgate.net/profile/Or-Litany",
        "http://ai.stanford.edu/~orlitany"
      ]
    }
    </script>
    

  <title>Or Litany</title>

  <link rel="stylesheet" href="./OL_files/bootstrap.min.css">
  <link href="./OL_files/style.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" async="" src="./OL_files/ga.js.download"></script>
  <script type="text/javascript" src="./OL_files/hidebib.js.download"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>

  <!-- Start main content -->
  <main id="vue-app">
    <div class="container">
      <!-- <table width="900" border="0" align="center" cellpadding="20"></table> -->
      <table width="90%" align="center" border="0" cellpadding="10">
        <tbody>
          <tr>
            <td width="70%" valign="top">
              <p align="center">&nbsp;</p>

              <!-- BIO -->
              <p align="center">
                <font size="6px">Or Litany</font><br>
              </p>
              <p style="font-family: 'Roboto', sans-serif;">orlitany at gmail dot com</p>
              <p>I'm a Senior Research Scientist at <a href="https://nv-tlabs.github.io/">NVIDIA</a> and an Assistant Professor at the <a href="https://www.cs.technion.ac.il/people/faculty/#:~:text=of%20visual%20tasks.-,Or%20Litany,-Senior%20Lecturer">Technion</a>, specializing in 3D computer vision and generative AI. I'm honored to be a 2023 Azrieli Faculty Fellow and a Taub Fellow. Previously, I conducted postdoctoral research at <a href="https://geometry.stanford.edu/member/orlitany/">Stanford University</a> under <a href="https://geometry.stanford.edu/member/guibas/">Prof. Leonidas Guibas</a>, and at <a href="https://research.facebook.com/ai/">FAIR</a>, hosted by <a href="https://people.eecs.berkeley.edu/~malik/">Prof. Jitendra Malik</a>. My PhD is from Tel-Aviv University, advised by <a href="http://www.cs.technion.ac.il/~bron/">Prof. Alex Bronstein</a>. My B.Sc. in Physics and Mathematics is from the Hebrew University. </p>
                
                <!-- , as part of the <a href="https://en.wikipedia.org/wiki/Talpiot_program">“Talpiot”</a> program.</p> -->


              <!-- Links -->
              <p><a href="./OL_files/orlitany_cv.pdf" aria-label="a pdf with my updated cv"><img src="./OL_files/cv.png" alt="cv icon" height="16"></a> /
                <a href="https://www.linkedin.com/in/orlitany/main.html" aria-label="my linkedin profile page"><img src="./OL_files/linkedin.png" alt="linkedin logo"
                    height="16"></a> /
                <a href="https://twitter.com/orlitany" aria-label="my X (twitter) profile page"><img src="./OL_files/twitterlogo.png" alt="twitter logo" height="16"></a> /
                <a href="https://scholar.google.co.il/citations?user=Ihs8dwsAAAAJ&hl=en" target="_blank" aria-label="my google scholar page"><img
                    src="./OL_files/google_scholar.png" alt="google scholar logo" height="16"></a> /
                <a href="https://github.com/orlitany/" target="_blank" aria-label="my github page"><img src="./OL_files/github_alt.png" alt="github logo" 
                    height="16"></a>
              </p>
            </td>
            <td width="30%">
              <div class="instructorphoto"><img typeof="foaf:Image" src="./OL_files/or_yosemite_small_jpg.jpg"
                  id="orlitany" alt="Or Litany profile picture"></div>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
    <br>

    <div class="container">
      <h2>News</h2>
      <ul class="news">
        <li>
          <span class="date">Feb 12, 2025</span> <a href="https://ziyc.github.io/omnire/">OmniRe</a> got a spotlight at ICLR  2025.            
        </li>
        <li>
          Feb 2, 2025 I will serve as an Area Chair for the upcoming ICCV 2025.           
        </li>
        <li>
          <span class="date">Jan 5, 2025</span> <a href="https://arxiv.org/abs/2411.06181v1">Epi-NAF</a> is accepted at ISBI 2025 as an Oral.            
        </li>
        <li>
          <span class="date">Dec 21, 2024</span> Two <a href="#workshops">workshops</a> accepted at CVPR 2025.            
        </li>        
        <li>
          <span class="date">Nov, 2024</span> Honored to chair the Research Interaction sessions at the upcoming 3DV 2025. See call for <a href="https://3dvconf.github.io/2025/call-for-nectar-track/">Nectar Track</a>. 
        </li>
      </ul>
    </div>
    <br>

    <div class="container">
      <h2>Prospective students</h2><div class="news">
        I am actively seeking talented and motivated Postdoctoral and PhD candidates to join my new lab at the Technion. To get a sense of the research areas I am most passionate about, I encourage you to explore my recent publications and invited talks. As an ELLIS scholar, I also invite eligible candidates to consider applying through the <a href="https://ellis.eu/phd-postdoc">ELLIS PhD and Postdoc Program</a>.
    </div></div>
    <br>


    <!-- Invited talks -->
    <div class="container">
      <h2>Invited talks</h2>
      <div class="news">
        <ul>
          <div id="read_talks_record">          
            <div v-for="talk in talks" class="workshops">
              <li>{{talk.title}}.
                <span v-if="talk.slides"><a :href="talk.slides">Slides</a></span>
                <span v-if="talk.video"><a :href="talk.video">Video</a></span>
              </li>
            </div>        
          </div>
        </ul>
      </div>
    </div>
    <br>

    <!-- Workshops / Tutorials -->
    <div class="container" id="workshops">
      <h2>Workshops / Tutorials</h2>
      <div class="news">        
        <div id="read_workshop_record">
          <ul>
            <div v-for="event in events" class="workshops">
              <li><a :href="event.link"><span v-html=concat(event)></span></a>.</li>
            </div>
          </ul>
        </div>
        </ul>
      </div>
    </div>
    <br>


    <div class="container">
      <h2>Press</h2>
      <div class="news">
        <ul>
          <li>Nov 2023: <a href="https://developer.nvidia.com/blog/using-synthetic-data-to-address-novel-viewpoints-for-autonomous-vehicle-perception/">NVIDIA technical blog: Using Synthetic Data to Address Novel Viewpoints for Autonomous Vehicle Perception</a></li>
          <li>July 2023: <a href="https://developer.nvidia.com/blog/sensing-new-frontiers-with-neural-lidar-fields-for-autonomous-vehicle-simulation/">NVIDIA technical blog: Sensing New Frontiers with Neural Lidar Fields for Autonomous Vehicle Simulation</a></li>
          <li>September 2022: <a
                href="https://unboxingai.show/podcast-item/the-next-frontier-computer-vision-on-3d-data-with-or-litany/">Interview
                for UnboxingAI podcast</a></li>
          <li>March 2022: <a href="https://nvda.ws/3IGnfZu">NVIDIA Showcases Novel AI Tools in DRIVE Sim to
                Advance
                Autonomous Vehicle Development</a></li>
          <li>July 2020: <a
                href="https://www.stanforddaily.com/2020/07/21/stanford-makes-an-impact-at-machine-learning-conference/">Stanford
                makes an impact at machine learning conference</a></li>
          <li>July 2020: <a
                href="https://www.new-techonline.com/2020/07/%D7%97%D7%95%D7%A7%D7%A8%D7%99-%D7%90%D7%A0%D7%91%D7%99%D7%93%D7%99%D7%94-%D7%96%D7%9B%D7%95-%D7%91%D7%A4%D7%A8%D7%A1-%D7%A2%D7%91%D7%95%D7%93%D7%AA-%D7%94%D7%9E%D7%97%D7%A7%D7%A8-%D7%94%D7%9E%D7%A6/">חוקרי
                אנבידיה זכו בפרס עבודת המחקר המצטיינת בכנס הבינלאומי המוביל בעולם ללמידת מכונה (ICML)</a></li>
        </ul>
      </div>
    </div>
    <br>

    <div class="container">
      <h2> Publications </h2>
      <!-- Auto publications reader -->
      <div id="read_pub_record">
        <div v-for="pub in publications" class="publication">

          <table width="900" align="center" border="0" cellpadding="0">
            <tbody>
              <tr>
                <td width="25%" valign="top">
                  <img :src="pub.image" :alt="pub.name" width="150" height="" style="border-style: none">
                </td>
                <td width="75%" valign="top">
                  <p><a :href="pub.paper">
                      <heading>{{ pub.name }}</heading>
                    </a><br>
                    <!-- <span v-html="pub.authors"></span><br> -->
                    <span v-html=boldMyName(pub.authors)></span><br>
                    <em>{{ pub.publication }}</em>
                    <span v-if="pub.misc">
                      <br><span v-html="pub.misc"></span><br>
                    </span>

                  </p>
                  <div class="paper" :id="pub.name">
                    <a :href="pub.paper">paper</a> /
                    <span v-if="pub.code">
                      <a :href="pub.code">code</a> /
                    </span>
                    <span v-if="pub.page">
                      <a :href="pub.page">page</a> /
                    </span>
                    <span v-if="pub.dataset">
                      <a :href="pub.dataset">dataset</a> /
                    </span>
                    <span v-if="pub.slides">
                      <a :href="pub.slides">slides</a> /
                    </span>
                    <span v-if="pub.poster">
                      <a :href="pub.poster">poster</a> /
                    </span>
                    <span v-if="pub.talk">
                      <a :href="pub.talk">talk</a> /
                    </span>

                    <a shape="rect" :href="'javascript:togglebib(\'' + pub.name + '\')'" class="togglebib">bibtex</a>

                    <pre xml:space="preserve" style="display: none;"><span v-text=breakbib2(pub)></span>
                </pre>  

                  </div>
                </td>

              </tr>
            </tbody>
          </table>
          <hr>
        </div>


      </div>



    </div><br>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.min.js"></script>
    <script src="helper_functions/load_dicts_from_json.js"></script>
  
    <script xml:space="preserve" language="JavaScript">
      hideallbibs();
    </script>

  </main>


</body>

</html>